.about-wrapper {
    display: flex;
    flex-direction: column;
    background-color: black;
    color:  rgb(185, 185, 185);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-bottom: 160px;

}

.about-header {
    font-size: 56px;
    font-weight: 700;
    padding-left: 30px;
    margin: 0;
    margin-top: 15px;

}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 150px;
    padding-top: 50px;

}

.about1,
.about2,
.about3,
.about4 {
    display: flex;
    gap: 150px;
    padding: 30px;

}

.about1-left,
.about2-left,
.about3-left,
.about4-left {
    width: 395px;
    position: sticky;
    top: 2rem;
    height: fit-content;
    padding-right: 2rem;
    align-self: flex-start;

}

.about1-left p,
.about2-left p,
.about3-left p,
.about4-left p {
    font-size: 26px;
    font-weight: 500;
    margin: 0;

}

.about1-right,
.about2-right,
.about3-right,
.about4-right {
    width: 740px;
    flex: 1;


}

.about1-right p,
.about2-right p,
.about3-right p,
.about4-right p {
    margin: 0;
    font-size: 24px;
    padding-right: 20px;
    line-height: 1.4;

}

.about1-right h1,
.about2-right h1,
.about3-right h1,
.about4-right h1 {
    margin: 0;
    font-size: 56px;
    padding-right: 30px;

}

.about1-right h4,
.about2-right h4,
.about3-right h4,
.about4-right h4 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    margin: 25px 0;


}

.about-btn {
    border: none;
    height: 50px;
    border-radius: 25px;
    margin: 40px 0;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(185, 185, 185);
    color: black;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.about-btn:hover {
    background-color: #fc6444;
    transform: background-color;
}

.about1-right-div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    margin-left: -50px;
}

.about1-right-div p {
    font-size: 19px;

}

.about1-right-div1 {
    width: 340px;
}

.about1-right-div span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.about1-right-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.about1-right-list li {
    font-size: 19px;
    line-height: 1.4;
}

.about1-right-list ul {
    width: 355px;
    margin-left: -50px;
}


.about2-right-div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
}

.about2-right-div div {
    width: 355px;
}

.about2-right-div p {
    font-size: 18px;
    margin-top: 20px;
}

.about2-right-div span {
    text-decoration: underline;
    padding-top: 10px;
}

.about3-right p {
    font-size: 19px;
}

.about3-right-div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin: 60px 0px;

}

.about3-right-div span {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 355px;
}

.img {
    width: 50%;
}

.img-odd {
    width: 25%;
}

.about4-right {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.about4-right span {
    width: 175px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about4-right img {
    width: 100%;
    filter: grayscale(100%);
}

.about4-right p {
    font-size: 18px;
    padding-bottom: -5px;
}

.about4-right em {

    font-size: 14px;
}





@media (max-width:950px) {

    .about1,
    .about2,
    .about3,
    .about4 {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px;

    }

    .about1-left,
    .about2-left,
    .about3-left,
    .about4-left {
        width: 100%;
        margin-bottom: 20px;
        position: relative;
    }

    .about1-right,
    .about2-right,
    .about3-right,
    .about4-right {
        width: 100%;
    }

}

@media (max-width:700px) {

    .about1-right h1,
    .about2-right h1,
    .about3-right h1,
    .about4-right h1 {
        font-size: 36px;
    }

    .about-btn {
        width: 100%;
    }

    .about1-right-div {
        flex-direction: column;
    }

    .about1-right-div1 {
        width: 100%;
        padding-left: 40px;
    }

    .about1-right-list {
        flex-direction: column;
        gap: 10px;
    }

    .about1-right-list ul,
    .about2-right-div div {
        width: 90%;
    }

    .about2-right-div {
        flex-direction: column;
    }

    .about4-right {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about3-right p {
        margin-right: 20px;
        width: 95%;
    }
}

@media (max-width:420px) {
    .submit-btn3 {
        width: 95%;
        align-content: center;
        margin-right: 10%;
    }

    .about4-right {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about3-right-div {
        gap: 10px;

    }

    .about3-right-div span {
        gap:30px;
    }
    .about3-right{
        width:50%;
    }
    .about3-left p{
        width:50%;

    }
    .about3-right-div img{
        width:130px !important;
    }

    .about4-right span {
        width: 150px;
        margin-bottom: 20px;
    }

    .about1-right h1,
    .about2-right h1,
    .about3-right h1,
    .about4-right h1 {
        font-size: 26px;
    }

    .about1-right h4,
    .about2-right h4,
    .about3-right h4,
    .about4-right h4 {
        font-size: 20px;
    }
    .about3{
        padding-right: 90px;

    }
}