.contact-wrapper {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-bottom: 160px;

}

.contact-head {
    font-size: 56px;
    font-weight: 700;
    padding-left: 30px;
    margin: 0;
    margin-top: 15px;

}

.contact {
    display: flex;
    gap: 150px;
    padding: 30px;

}

.contact-left {
    width: 395px;
    position: sticky;
    top: 2rem;
    height: fit-content;
    padding-right: 2rem;
    align-self: flex-start;

}

.contact-left p {
    font-size: 26px;
    font-weight: 600;
    margin: 0;

}

.contact-right {
    width: 740px;
    flex: 1;

}



@media (max-width:950px) {
    .contact {
        flex-direction: column;
        gap: 30px;

    }

    .contact-left {
        padding-bottom: 20px;
        position: relative;
        width: 100%;
    }

    .contact-right {
        width: 100%;
    }

}

@media (max-width:700px) {
    .contact-right p {
        font-size: 26px;
        margin: 0;
    }

}

@media (max-width:400px) {}