body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* src/index.css (or App.css) */
:root {
  /* optional helpers */
  --font-body: 'PT Sans Narrow', sans-serif;
  --font-head: 'Anton', 'PT Sans Narrow', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  background-color: #fc6444; 
  color: black;
}


.testAnton {
  font-family: 'Anton', sans-serif !important;
  text-transform: uppercase;
}


